/* core style */
body{
  background: #eceff2;
  padding: 0;
  margin: 0;
}

/* title */
.body h2{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  position: relative;
  z-index: 1000;
}

.body h2 span.title{
  color: rgb(47, 177, 134);
}

/* generator body */
.gen-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* output */
.output .box{
  width: 55vmin;
  height: 55vmin;
  background: rgb(255, 255, 255);
  color: rgb(109, 109, 109);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 6px;
  padding: 0 2em;
}

.output .box p{
  margin: 0 auto;
  word-wrap: break-word;
}

.output .box p span{
  color: rgb(47, 177, 134);
  font-weight: 700;
}

.switch{
  margin: 0.8em 0;
}

/* .output .box p{
  color: rgb(255, 255, 255);
} */

@media (max-width: 660px){
  .gen-container{
    flex-direction: column;
    gap: 50px;
  }

  .body h2{
    margin-bottom: 0.8em;
  }
}