*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  padding: 0 40px;
}

.app-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 10px;
}

table.content-table{
  width: 100%;
  border-collapse: collapse;
  font-size: 2.5vmin;
  overflow-x: auto;
  /* width: 60px; */
  /* width: 80vw; */
  /* margin: 0 0 12px; */
  /* border-radius: 15px 15px 0 0;
  overflow: hidden; */
  /* box-shadow: rgba(255, 255, 255, 0.08) 0px 1px 1px 0px inset, 
              rgba(50, 50, 93, 0.12) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.2) 0px 30px 60px -30px; */
}

.content-table thead tr {
  background-color: tomato;
  color: rgb(255, 242, 240);
  text-align: left;
}

.content-table th,
.content-table  td {
  padding: 18px 16px;
}

.content-table tbody tr {
  border-bottom: 1px solid rgb(205, 205, 205);
}

.content-table tbody tr:nth-of-type(even){
  background-color: rgb(249, 249, 249);
}

.delete{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.delete button{
  cursor: pointer;
  padding: 6px 10px;
  outline: none;
  border: 1px solid gray;
}

.delete button:hover{
  color: white;
  background-color: tomato;
  border: 1px solid tomato;
}

/* form */
form div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: tomato;
  padding: 18px;
  width: 100%;
}

form input{
  padding: 6px 14px;
  outline: none;
  border: none;
  border-radius: 2px;
  margin: 0 3px 0 0;
  width: 20vw;
}

form button{
  cursor: pointer;
  padding: 6px 14px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: white;
}

@media (max-width: 997px){
  form{
    flex-direction: column;
  }
  form input{
    margin: 0 0 10px;
    width: 100%;
  }

  form button{
    width: 100%;
  }

  .delete button{
    width: 100%;
    margin-top: 5px;
  }
}