*{
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222231;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mystore{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.product_container{
  background: white;
  width: 320px;
  height: 250px;
  padding: 1.8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1.4em;
  border-radius: 10px;
}

.product_container span{
  font-weight: bold;
}

.product_container button{
  padding: 10px 28px;
  background: #222231;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

img.product{
  transition: all 0.3s ease-in;
}

.product_container:hover img.product{
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

@media screen and (min-width: 768px) {
  .mystore{
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}