.setting{
    display: flex;
}

.settingWrapper{
    flex: 9;
    /* padding: 20px 40px 20px 20px; */
    padding: 20px;
    margin-top: 10px;
}

.settingTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.settingUpdateTitle{
    font-size: 24px;
    color: #C18F80;
}

.settingDeleteTitle{
    font-size: 16px;
    cursor: pointer;
    color: rgb(111, 111, 111);
}

.settingDeleteTitle:hover{
    color: #C18F80;
    font-weight: bold;
    letter-spacing: -0.15px;
}

.settingForm{
    display: flex;
    flex-direction: column;
}

.settingForm > label {
    font-size: 20px;
    margin-top: 20px;
}

.settingForm > input {
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.settingPP{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.settingPP > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.settingPP label svg{
    margin-left: 12px;
}

.settingSubmit{
    width: 120px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    background-color: #8F9791;
    padding: 8px 12px;
    margin-top: 20px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 1rem;
}