* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* font-family: 'PT Sans', sans-serif; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.tours{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.tours h3{
  text-align: center;
  color: rgb(69, 69, 69);
}

.tours a{
  margin-top: 15px;
  color: rgb(69, 69, 69);
}