.cards{
    /* padding: 1em; */
}

.cards h1{
    margin-top: 2em;
    text-align: center;
    color: rgb(53, 53, 53);
    text-transform: uppercase;
}

.cards__container {
    padding: 1em;
}

.cards__container img{
    max-width: 100%;
}

.cards__wrapper {
    position: relative;
    margin: 30px 0 45px;
}

.cards__items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards__item{
    /* display: flex; */
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.cards__item__link{
    width: 100%;
    text-decoration: none;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.37);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}


.cards__item__pic-wrap {
    position: relative;
    width: 100%;
    height: 60vmin;
    overflow: hidden;
} 

.cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    top: 0;
    border-radius: 0 0 10px 0;
    padding: 8px 10px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(144.69deg, #11BADF -15.92%, #16EAC4 117.94%);
    box-sizing: border-box;
} 

.cards__item__img {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
.cards__item__img:hover {
    transform: scale(1.1);
}

.cards__items__info{
    padding: 20px 30px 30px;
}

.cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (min-width: 768px) {
    .cards__container {
        max-width: 1120px;
        margin: 0 auto;
    }

    /* .cards__wrapper {
        position: relative;
        margin: 50px 0 45px;
    } */

    .cards__items{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        /* flex-direction: row; */
    }

    .cards__item__pic-wrap {
        height: 30vmin;
    } 
    
}